/* === === === */
/* CSS RESET */
/* === === === */

/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* work with images easier */
img,
picture {
  max-width: 100%;
  display: block;
  border: none;
}

/* list styles */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* make forms easier */
input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

/* remove animations for whom they turn it off #accessibility */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* CSS Reset end */
