/* === === === */
/* CSS RESET */
/* === === === */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important; /* safari, opera, chrome miatt */
  border-radius: 0;
}

/* CSS reset */

/* font-family: 'Roboto', sans-serif; */

:root {
  --clr-dark: #666;
  --clr-light: #fff;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--clr-dark);
}

nav {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding-left: 20px;
  padding-right: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--clr-light);

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.logo-icon {
  font-size: 36px;
  color: var(--clr-dark);
}

nav button {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  background-color: var(--clr-dark);
}

.menu-icon {
  font-size: 36px;
  color: var(--clr-light);
}

section {
  max-width: 1200px;
  margin: 120px auto;
  padding: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

article {
  width: 300px;
  height: 350px;
  padding: 40px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--clr-light);

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);

  color: var(--clr-dark);
}

.sub {
  width: 160px;
  height: 160px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 80px;
  background-color: var(--clr-dark);

  font-size: 80px;
  font-weight: 400;
  color: var(--clr-light);
}

.title {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid var(--clr-dark);
}

.text {
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
}

article button {
  width: 160px;
  height: 50px;
  padding-left: 25px;
  padding-right: 5px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--clr-light);
  border-radius: 25px;
  border: 2px solid var(--clr-dark);

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);

  font-size: 14px;
}

article button:hover {
  background-color: var(--clr-dark);
  border: 2px solid var(--clr-light);
  color: var(--clr-light);
}

.arrow-icon {
  font-size: 36px;
}
