/* === === === */
/* CSS RESET */
/* === === === */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important; /* safari, opera, chrome miatt */
  border-radius: 0;
}

/* CSS reset */

/* font-family: 'Roboto', sans-serif; */

:root {
  --clr-dark: #666;
  --clr-light: #fff;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--clr-dark);
}

nav {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding-left: 20px;
  padding-right: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--clr-light);
}

.logo-icon {
  font-size: 36px;
  color: var(--clr-dark);
}

nav button {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  background-color: var(--clr-dark);
}

.menu-icon {
  font-size: 36px;
  color: var(--clr-light);
}
